<!DOCTYPE html>
<html
  lang="fr"
  x-data="{
    theme: getTheme(),
    toggleTheme() {
      const newTheme = toggleStorageTheme();
      this.theme = newTheme;
    }
  }"
>

<head>
<meta charset="utf-8">
<meta charset="UTF-8" />
<link rel="stylesheet" href="app/css/style.css" />
<title>Blog - {{ title }}</title>
<!-- Chargement de Bootstrap 5 -->
<link href="app/css/bootstrap.min.css" rel="stylesheet">
<!-- Définition de la taille de l'écran pour l'affichage mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body x-bind:class="theme">
  <!-- Barre de navigation -->
  <nav >
    <nav class="navbar navbar-expand-lg "
       :class="theme === 'dark' ? 'navbar-dark navbar-custom-dark' : 'navbar-light navbar-custom-light'">
      <div class="container" >
        <!-- Logo ou nom du site -->
        <a class="navbar-brand" href="#">BLOG</a>
        <!-- Bouton de bascule pour les petits écrans -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-
        controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenu de la barre de navigation -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- Liste des éléments de navigation -->
          <ul class="navbar-nav">
          <!-- Élément de navigation actif -->
          <li class="nav-item active">
          <a class="nav-link" href="/" aria-current="{{ path == "/" ? "true" : "false" }}">Accueil <span class="visually-hidden">(current)</span></a>
          </li>
          <!-- Autres éléments de navigation -->
          <li class="nav-item">
          <a class="nav-link" href="/signin" aria-current="{{ path == "/signin" ? "true" : "false" }}">Connexion</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/register" aria-current="{{ path == "/register" ? "true" : "false" }}">Inscription</a>
          </li>
          </ul>
        </div>
    </nav>
    
      <div class="theme-toggle-container">
              <span>Sombre</span>
              <input type="checkbox" id="theme-toggle" x-on:change="toggleTheme()" />
              <label
                class="theme-toggle"
                for="theme-toggle"
                x-bind:aria-checked="theme === 'dark' ? true : false"
              >
                <span></span>
              </label>
            </div>
      </div>
  </nav>

