<div class="container mt-5">
    {% if isCreation %}
    <h1>Ecrire un article</h1>
    {% else %}
    <h1>Editer l'article</h1>
    {% endif %}

    <form method="POST" action="">
        <div class="mb-3">
            <label for="titre" class="form-label">Titre</label>
            <input type="text" class="form-control" id="titre" name="titre" value="{{ article.titre }}" required>
        </div>
        <div class="mb-3">
            <label for="contenu" class="form-label">Contenu</label>
            <textarea class="form-control" id="contenu" name="contenu" rows="10" required>{{ article.contenu }}</textarea>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="statut" class="form-label">Statut</label>
                <select class="form-select" id="statut" name="statut">
                    <option value="Brouillon" {% if article.statut == "Brouillon" %}selected{% endif %}>Brouillon</option>
                    <option value="Publie" {% if article.statut == 'Publié' %}selected{% endif %}>Publié</option>
                    <option value="Archive" {% if article.statut == 'Archivé' %}selected{% endif %}>Archivé</option>
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Tags associés</label>
                <small>(Maintenir CTRL pour sélectionner plusieurs options)</small>
                <select name="tags[]" multiple class="form-select">
                    {% for tag in allTags %}
                        <option
                            value="{{ tag.id }}" 
                            {% if tag.id in curTagsId %}selected{% endif %}
                        >{{ tag.nom_tag }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
            <a href="/dashboard" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
