    <main>
      <header>
        <h1>Accueil</h1>
      </header>
      
      <ul class="articles-container">
        <!-- Affichage d'un lien pour chaque article -->
        {% if articles is not empty %}
          {% for article in articles %}
            <li class="article-link">
              <a href="{{ '/article?slug=' ~ article['slug'] }}">
                <img src="{{ article.image_une|default('https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=') }}" />
                <p class="article-link-title">{{ article["titre"] }}</p>
                <p class="article-link-subtitle">{{ article["resume"] }}</p>
              </a>
            </li>
          {% endfor %}
        {% else %}
          <p>Pas d'articles</p>
        {% endif %}
      </ul>
    </main>