<main>
  <h1>{{ username }}</h1>
  <p>{{ email }}</p>
  <form action="" method="GET">
    <button type="submit" name="signout" class="btn btn-danger">
      Se déconnecter
    </button>
  </form>
</main>
