<main>
  <div class="form-container">
  	<h2 class="titre_spe">Formulaire d'inscription</h2>

    {% if error %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      {{ error }}
    </div>
    {% endif %}

  	<form action="" method="POST" @submit.prevent="submit" x-data="registerForm()">
	    
      <!-- Name input -->
  	  <div class="mb-3">
  	  	<label for="nom" class="form-label">Nom Complet</label>
  	  	<input
		      type="text"
          id="name"
          name="name"
          x-model="name"
          placeholder="Entrez votre nom complet"
          class="form-control"
          :class="{ 'is-invalid': errors.name }"
        >
		    <template x-if="errors.name">
          <div class="invalid-feedback" x-text="errors.name" style="display: block;"></div>
        </template>
  	  </div>

	    <!-- Email input -->
  	  <div class="mb-3">
  	  	<label for="email" class="form-label">Adresse e-mail</label>
  	  	<input
          type="text"
          id="email"
          name="email"
          x-model="email"
          placeholder="exemple@domaine.com"
          class="form-control"
          :class="{ 'is-invalid': errors.email }"
        >
		    <template x-if="errors.email">
          <div class="invalid-feedback" x-text="errors.email" style="display: block;"></div>
        </template>
	    </div>

      <!-- Password input -->
  	  <div class="mb-3">
  	  	<label for="password" class="form-label">Mot de passe</label>
  	  	<input
          type="password"
          id="password"
          name="password"
          x-model="password"
          placeholder="**********"
          class="form-control"
          :class="{ 'is-invalid': errors.password }"
        >
		    <template x-if="errors.password">
          <div class="invalid-feedback" x-text="errors.password" style="display: block;"></div>
        </template>
  	  </div>

      <!-- Confirm password input -->
  	  <div class="mb-3">
  	  	<label for="password-confirm" class="form-label">Confirmer le mot de passe</label>
  	  	<input
          type="password"
          id="password-confirm"
          x-model="passwordConfirmation"
          placeholder="**********"
          class="form-control"
          :class="{ 'is-invalid': errors.passwordConfirmation }"
        >
		    <template x-if="errors.passwordConfirmation">
          <div class="invalid-feedback" x-text="errors.passwordConfirmation" style="display: block;"></div>
        </template>
  	  </div>

      <!-- Case à cocher -->
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">J'accepte les conditions d'utilisation.</label>
      </div>

      <!-- Bouton de soumission -->
      <button type="reset" @click="reset()" :disabled="isSubmitting" class="btn btn-secondary">Réinitialiser</button>
	    <button
        type="submit"
        :disabled="isSubmitting"
        class="btn btn-success d-flex align-items-center"
        style="float: right;"
      >
        <div class="spinner-border spinner-border-sm me-2 text-light" role="status" x-show="isSubmitting">
          <span class="visually-hidden">Loading...</span>
        </div>
        Se connecter
      </button>

      <p class="mt-3">Déjà inscrit ? <a href="/signin">Se connecter</a></p>
    </form>
  </div>
</main>

<script>

function registerForm() {
  return {
  	name: "",
  	email: "",
  	password: "",
  	passwordConfirmation: "",

  	errors: {},
    isSubmitting: false,
  	
  	submit(e) {
      this.isSubmitting = false;
  	  this.errors = {};
  	  this.successMessage = "";
  	  if (!FormValidator.validateName(this.name)) {
  	  	this.errors.name = "Le nom doit faire au moins 3 caractères";
  	  }
  	  if (!FormValidator.validateEmail(this.email)) {
  	  	this.errors.email = "Adresse email invalide.";
  	  }
  	  if (!FormValidator.validatePassword(this.password)) {
  	  	this.errors.password = "Le mot de passe doit faire au moins 6 caractères";
  	  }
  	  if (this.password !== this.passwordConfirmation) {
  	  	this.errors.passwordConfirmation = "Les mots de passe sont différents";
  	  }
  	  if (Object.keys(this.errors).length === 0) {
  	  	// Envoyer le formulaire
        this.isSubmitting = true;
        e.target.submit();
  	  } else {
  	  	console.log(this.errors);
  	  }
  	},

    reset() {
      this.errors = {};
    }
  }
}

</script>
<script src="app/js/formValidator.js"></script>
