<main>
  <div class="form-container">
  	<h2 class="titre_spe">Se connecter</h2>

    {% if error %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      {{ error }}
    </div>
    {% endif %}

  	<form action="" method="POST" @submit.prevent="submit" x-data="signInForm()">
  	  <div class="mb-3">
  	  	<label for="email" class="form-label">Adresse e-mail</label>
  	  	<input
          type="text"
          id="email"
          name="email"
          x-model="email"
          placeholder="exemple@domaine.com"
          class="form-control"
          :class="{ 'is-invalid': errors.email }"
        >
        <template x-if="errors.email">
          <div class="invalid-feedback" x-text="errors.email" style="display: block;"></div>
        </template>
  	  </div>

  	  <div class="mb-3">
  	  	<label for="password" class="form-label">Mot de passe</label>
  	  	<input
          type="password"
          id="password"
          name="password"
          x-model="password"
          placeholder="**********"
          class="form-control"
          :class="{ 'is-invalid': errors.password }"
        >
        <template x-if="errors.password">
          <div class="invalid-feedback" x-text="errors.password" style="display: block;"></div>
        </template>
  	  </div>

	    <!-- Bouton de soumission -->
	    <button
        type="submit"
        :disabled="isSubmitting"
        class="btn btn-success d-flex align-items-center"
        style="float: right;"
      >
        <div class="spinner-border spinner-border-sm me-2 text-light" role="status" x-show="isSubmitting">
          <span class="visually-hidden">Loading...</span>
        </div>
        S'inscrire
      </button>

	    <p class="mt-3">Pas encore de compte ? <a href="/register">S'inscrire</a></p>
  	</form>
  </div>
</main>

<script>

function signInForm() {
  return {
    email: "",
    password: "",

    errors: {},
    isSubmitting: false,
    
    submit(e) {
      this.isSubmitting = false;
      this.errors = {};
      this.successMessage = "";
      if (!FormValidator.validateEmail(this.email)) {
        this.errors.email = "Adresse email invalide.";
      }
      if (!FormValidator.validatePassword(this.password)) {
        this.errors.password = "Le mot de passe doit faire au moins 6 caractères";
      }
      if (Object.keys(this.errors).length === 0) {
        // Envoyer le formulaire
        this.isSubmitting = true;
        e.target.submit();
      } else {
        console.log(this.errors);
      }
    }
  }
}

</script>
<script src="app/js/formValidator.js"></script>
